<script lang="ts">
  import Step from '../components/Step.vue';

  export default {
    data() {
      return {
        steps: [
          {
            title: 'Design',
            content: 'Sie geben mir Ihre Anforderungen, ich entwerfe Ihre Website.',
          },
          {
            title: 'Entwicklung',
            content: 'Sobald das Design steht, beginnt die Entwicklung.',
          },
          {
            title: 'Veröffentlichung',
            content: 'Ihre Seite wird mit modernsten Sicherheitsstandards veröffentlicht',
          },
        ],
      }
    },
    components: {
      Step: Step,
    },
  };
</script>

<template>
  <h1>Home</h1>
  <Step v-for="step in steps" :title="step.title" :content="step.content" />
</template>

<style scoped>
h1 {
  font-weight: 500;
  font-size: 2.6rem;
}

@media (min-width: 1024px) {
}
</style>
