<script lang="ts">
  export default {
    data() {
      return {
        pages: [
          {
            name: 'Impressum',
            link: '/impressum',
          },
          {
            name: 'Datenschutz',
            link: '/privacy',
          },
        ],
      };
    },
  };
</script>

<template>
  <Teleport to="#footer">
    <footer>
      <span>
        <span v-for="page in pages">
          <router-link :to="page.link">{{ page.name }}</router-link>
          <br>
        </span>
      </span>
      <span>
        © {{ new Date().getFullYear() }} Benito Zenz 
      </span>
    </footer>
  </Teleport>
</template>

<style scoped>
  footer {
    background: #656565;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
  }

  a {
    color: white;
    text-decoration: underline solid transparent;
    transition: text-decoration 0.2s ease-in-out;
  }

  a:hover {
    text-decoration: underline solid Currentcolor;
  }
</style>

