<script lang="ts">
  export default {
    data() {
      return {
        pages: [
          {
            name: 'Leistungen',
            link: '/leistungen',
          },
          {
            name: 'FAQ',
            link: '/leistungen#faq',
          },
          {
            name: 'Über',
            link: '/impressum',
          },
        ],
      };
    },
  };
</script>

<template>
  <header>
    <router-link class="homepageLink" to="/">Benito Zenz</router-link>
    <span>
      <span class="headerEntry" v-for="page in pages">
        <router-link :to="page.link">{{ page.name }}</router-link>
      </span>
    </span>
  </header>
</template>

<style scoped>
  header {
    text-align: right;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
  }

  .homepageLink {
    font-weight: 600;
  }

  .headerEntry {
    padding: 0 30px 0 30px;
  }

  a {
    color: black;
    text-decoration: underline solid transparent;
    transition: text-decoration 0.2s ease-in-out;
  }

  a:hover {
    text-decoration: underline solid Currentcolor;
  }
</style>

