<script setup lang="ts">
defineProps<{
  title: string,
  content: string,
}>()
</script>

<template>
  <div class="step">
    <div class="title">{{ title }}</div>
    <div class="content">{{ content }}</div>
  </div>
</template>

<style scoped>
  .step {
    font-size: 1.4em;

    margin: 100px 10px 10px 10px;
  }

  .content 
  {
    background: var(--color-border);
    color: white;
    border-radius: 20px;
    padding: 20px;
  }

  .title {
    font-size: 2em;
    text-decoration: underline;
  }

  @media (min-width: 1024px) {
    .step {
      width: 100%;
      margin: 100px;
      padding: 0 100px 0 100px;

      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      justify-content: space-between;
      align-content: center;
    }

    .title {
      width: 20%;
    }

    .content {
      width: 60%;
    }
  }

</style>

