/* semantic color variables for this project */
:root {
  --color-background: #FEFFFE;
  --color-background-soft: #D5F0EA;

  --color-border: #0E8388;
  --color-border-hover: #0F8F94;

  --color-heading: #2E4F4F;
  --color-text: #2C3333;

  --section-gap: 160px;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #2C3333;
    --color-background-soft: #374040;

    --color-border: #0E8388;
    --color-border-hover: #0F8F94;

    --color-heading: #0E8388;
    --color-text: #CBE4DE;
  }
}
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2 {
  color: var(--color-heading);
}

