@import './base.css';

body {
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  padding-top: 0;

  font-weight: normal;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (min-width: 1024px) {
  h1 {
    text-align: center;
  }
}

