<script lang="ts">
  import Header from './components/Header.vue';
  import Footer from './components/Footer.vue';

  export default {
    components: {
      Header: Header,
      Footer: Footer,
    },
  };
</script>

<template>
  <Header />
  <router-view/>
  <Footer />
</template>

